@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");

.navbar {
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(63, 63, 63);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.navbar-scrolled {
  transform: translateY(-100%);
}

.navbar-custom {
  background-color: rgb(63, 63, 63) !important;
}
