* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(63, 63, 63);
}

h1 {
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
  padding-top: 5rem;
}
