@use "mixins";

.hero {
  .grids-galeria {
    @include mixins.galeria-grid;

    div {
      text-align: center;

      h3 {
        margin-top: 0.5rem;
        color: blanchedalmond;
      }

      .grids-foto {
        width: 300px;
        height: 300px;
        max-width: 400px;
        padding: 1rem;
        object-fit: cover;
      }
    }
  }
}
